body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgb(251, 206, 177), rgb(127, 0, 255));
    color: white;
    padding: 20px;
    font-family: "Bree Serif", serif;
}

.container {
    max-width: 900px;
    margin: auto;
    background: rgba(0, 0, 0, 0.795);
    border-radius: 15px;
    padding: 15px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.post {
    margin-bottom: 13px;
    padding: 15px;
    background: rgba(28, 23, 23, 0.911);
    border-radius: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.username {
    font-weight: bold;
}

.timestamp {
    color: lightgray;
}

.like-button {
    background-color: #89CFF0;
    color: #E5E4E2; 
    border: none;
    border-radius: 5px;
    padding: 10px 10px; 
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 10px; 
    transition: background-color 0.3s; 
}

.like-button:hover {
    background-color: #0d95e8; 
}

.comment-button {
    background-color: #89CFF0; 
    color: #E5E4E2; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 10px; 
    cursor: pointer;
    font-size: 0.9em; 
    margin-left: 10px; 
    transition: background-color 0.3s; 
}

.comment-button:hover {
    background-color: #0d95e8; 
}
